@model IEnumerable<VitalFew.Transdev.Australasia.Data.Api.Models.VF_API_CLIENT_OBJECTS>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Server Name")
        </th>
        <th>
            @Html.DisplayName("Instance Name")
        </th>
        <th>
            @Html.DisplayName("Server port")
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("User")
        </th>
        <th>
            @Html.DisplayName("User Password")
        </th>
        <th>
            @Html.DisplayName("Authentication Type")
        </th>
        <th>
            @Html.DisplayName("Schema")
        </th>
        <th>
            @Html.DisplayName("Object Type")
        </th>
        <th>
            @Html.DisplayName("Object Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DB_SERVER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DB_INSTANCE_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DB_SERVER_PORT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DB_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DB_USER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DB_USER_PASSWORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DB_AUTHENTICATION_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DB_SCHEMA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DB_OBJECT_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DB_OBJECT_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
