@model IEnumerable<VitalFew.Transdev.Australasia.Data.Core.Database.VF_API_CLIENT_OBJECTS>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Provider")
        </th>
        <th>
            @Html.DisplayName("Parameter Name")
        </th>
        <th>
            @Html.DisplayName("Server Name")
        </th>
        <th>
            @Html.DisplayName("Database Name")
        </th>
        <th>
            @Html.DisplayName("Object Name")
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VF_DATA_PROVIDER.DATA_PROVIDER_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRANSDEV_PARAM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DB_SERVER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DB_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DB_OBJECT_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CLIENT_OBJECT_ID })
        </td>
    </tr>
}

</table>
